<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All chats!</h2>
   <% for(let newChat of newChats ) { %>
        <div class="chat">
            <p>From : <%= newChat.from %></p>
            <div class="msg">
                <p><%= newChat.msg %></p>
            </div>
            <p>Recived by : <%= newChat.to %></p>
            <hr>
        </div>
        <br>
        <br>
    <%}%>
</body>
</html>

