<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
</head>
<body>
    <h2>All chats!</h2>
   <% for(let chat of chats ) { %>
        <div class="chat">
            <p>From : <%= chat.from %></p>
            <div class="msg">
                <p><%= chat.msg %></p>
            </div>
            <p>Recived by : <%= chat.to%></p>
        </div>
    <%}%>
</body>
</html>

