<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write chat</title>
</head>
<body>
    <h3>Write new chat...</h3>
    <form method="post" action="/newChats">
        <input placeholder="who are you" name="from"><br><br>
        <textarea name="msg" placeholder="write your mesage here"> </textarea><br><br>
        <input placeholder="add reciver" name="to"> 
        <button>Create chat</button>
    </form>
</body>
</html>